.error {
    color: red;
    font-weight: bold;
    background-color: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.notif {
    color: green;
    font-weight: bold;
    background-color: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}